:root {
    --primary-color: #f0f0f0;
    --card-bg: #fff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-hover-color: rgba(0, 0, 0, 0.2);
    --text-color: #333;
    --accent-color: #ffa500; /* Couleur pour le texte 'year' */
}

/* Réinitialisation et mise en place de bases */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--rain);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.Projets {
    padding: 50px;
    overflow-y: auto;
    width: 100%;
    max-width: 1200px; /* Augmenté pour s'assurer que les cartes ont assez de place */
}

.Projets-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes fixes */
    gap: 20px;
    justify-items: center;
}

.Projets-card {
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
    overflow: hidden;
    width: 100%; /* Prend toute la largeur de sa colonne */
    max-width: 500px; /* Assure que la carte n'est pas trop large */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.Projets-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px var(--shadow-hover-color);
}

.Projets-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.Projets-info {
    padding: 20px;
    text-align: center;
}

.Projets-info h3 {
    margin-bottom: 10px;
    color: var(--text-color);
}

.Projets-info p {
    color: var(--text-color);
    margin-bottom: 10px;
}

.Projets-info .year {
    font-size: 0.9rem;
    color: var(--accent-color);
    margin-top: 1px;
}
